<section class="user-profile">
   <div class="image-with-text">
  <img src="{{story.imgUrl}}" alt="Image">
  <div class="text-box">
    <h2 class="title">{{story.title}}</h2>
    <p> @{{story.author.username}} </p>
    <hr>
    <p class="description">{{story.description}}</p>
  </div>
  <div class="btn-fav">
    <form method="POST" action="/story/{{story._id}}">
      <input type="hidden" name="favorite" value="true">
      <button type="submit" class="btn-list">Favorite</button>
    </form>
    <form method="POST" action="/story/{{story._id}}/like">
      <button type="submit" class="btn-list">
        {{#if liked}}
          Liked
        {{else}}
          Like
        {{/if}}
      </button>
    </form>
  </div>
</div>
<div class="spread__page-bottom">
  <div class="number">{{story.likes.length}}</div>
</div>



 <!-- ok -->
    {{#if userPermission}}
    <a href="/story/{{story._id}}/edit">Edit Story</a>
    <form action="/story/{{story._id}}/delete" method="POST">
        <button>DELETE</button>
    </form>
    {{/if}}
</div>
<div class=" bg">
    <!-- Comment Section -->
    <div class="bg-light rounded">
    <h2>Comment Section</h2>
      <div class="leave-comment">
    <h3 class="section-title">Leave a Comment</h3>
    <form action="/story/{{story._id}}/comment/create" method="POST">
      <textarea name="content" class="comment-input" placeholder="Your comment..."></textarea>
      <button class="submit-comment-btn">Submit</button>
    </form>
  </div>
</div>
        <!-- End of the Form to Create a Comment -->
        <br>
        <!-- Display all the comments of the Story that we're seeing -->
    </div>
    <div class="comment-section">
  {{#each story.comments}}
    <div class="comment">
      <div class="comment-header">
        <span class="comment-author">By {{author.username}}</span>
        {{#if (eq author.username currentUser.username)}}
        <form action="/story/{{../story._id}}/comment/delete/{{this._id}}" method="POST">
          <input type="hidden" name="storyId" value="{{story._id}}">
          <input type="hidden" name="commentId" value="{{this._id}}">
          <button class="delete-comment-btn">Delete Comment</button>
        </form>
        {{/if}}
      </div>
      <p class="comment-content">{{content}}</p>
    </div>
  {{/each}}
</div>
</div>
</div>
</div>
</div>
</section>

