<h1 class = "list-title">Stories</h1>
<hr>      
<div class="container">
	<div class="row">
    {{#each stories}}
		<div class="col">
			<div class="weather-card one" style="width: 18rem;">
				<div class="top"style="background-image:url('{{this.imgUrl}}">
          
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						
						<!--<p class="temp">
							<img class="mr-3 rounded-circle" src="{{author.profilePicUrl}}" alt="Author Image" style="width: auto; max-height: 50px">-->
						</p>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper story-card-content">
						<div class="story-card-text">
            			<h3 class="user-tags">{{this.title}}</h3>
						<div class="story-card-user">
							<img src="{{this.author.profilePicUrl}}" alt="{{this.author.username}}">
						<h6 class="user-tags">{{this.author.username}}</h6>
						</div>
						</div>
						<a href="/story/{{this._id}}" class="landing-button">Read now</a>
					</div>
				</div>
			</div>
		</div>
    {{/each}}
