<h1 class = "list-title">Stories</h1>
<hr>      
<div class="container">
	<div class="row">
    {{#each stories}}
		<div class="col">
			<div class="weather-card one">
				<div class="top"style="background-image:url('{{this.imgUrl}}");>
          
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						
						<!--<p class="temp">
							<img class="mr-3 rounded-circle" src="{{author.profilePicUrl}}" alt="Author Image" style="width: auto; max-height: 50px">-->
						</p>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
            <div><h3 class="heading"><span class="list-names">Title:</span> {{this.title}}</h3>
						<h3 class="location"><span class="list-names">Autor:</span> {{this.author.username}}</h3></div>
						<ul class="forecast">	
							<li class="active">
								<a href="/story/{{this._id}}" class="underlines">Check out the story</a>
							</li>
							<li>
							<a href="/story/{{this._id}}/edit" class="underlines">Edit</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
    {{/each}}
