<h1>Stories</h1>
<div class="container-fluid">
      <div class="card-group m-2">
      {{#each stories}}
      <div class="card-md-4">
        <div class="card-body text-light"> 
          <img src="{{this.imgUrl}}" class="card-img-top" alt="{{this.title}}">
          <h2 class="card-title fw-bold">Title: {{this.title}}</h2>
          <p class="card-text">Description: {{this.description}}</p>
          <h6 class="card-text">Author: {{this.author.username}} </h6>
          <a href="/story/{{this._id}}" class="btn-info btn-primary btn-transparent">Check out the story</a>
          <a href="/story/{{this._id}}/edit" class="btn-info btn-primary btn-transparent">Edit</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  </div>


  

