<!--<h1>Movies</h1>
<hr>
<div class="row">
  {{#each stories}}
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">
        <img src="{{this.imgUrl}}" class="card-img-top" alt="{{this.title}}">
        <div class="card-body">
          <h5 class="card-title">TITLE: {{this.title}}</h5>
          <p class="card-text">DESCRIPTION: {{this.description}}</p>
           <p class="card-text">AUTHOR: {{this.author.username}}</p>
          <a href="/story/{{this._id}}">Check out the story</a>
          <!--<a href="/stories/{{id}}/edit" class="btn btn-primary">Edit</a> -->
       <!-- </div>
      </div>
    </div>
  {{else}}
    <p>There are no stories yet!</p>
  {{/each}}
  <hr/>
</div>-->

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bing Maps Api</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='estilo.css'>
</head>
<body>
    <header>
        <h1>Bing Maps Api</h1>
    </header>
    <main>
        <div class="options">
            <input class="search_input" placeholder="Search">
            <button class="search_btn">Search</button>
        </div>
        <div id="map"></div>

    </main>
    <footer>
        <p class="copyright">2022 - LC Codes</p>
    </footer>
    <script src="maps.js"></script>
    <script src='http://www.bing.com/api/maps/mapcontrol?callback=getMap' async></script>
</body>
</html>