
        
        
        
        
        
        
        
        
        
        

        
        
        
        
        
        
        
        
        
        <h1 class="stories-title">STORIES</h1>
        <div class="container">
	<div class="row">
    {{#each stories}}
		<div class="col">
			<div class="weather-card one" style="width: 18rem;">
				<div class="top"style="background-image:url('{{this.imgUrl}}">
          
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						
						<!--<p class="temp">
							<img class="mr-3 rounded-circle" src="{{author.profilePicUrl}}" alt="Author Image" style="width: auto; max-height: 50px">-->
						</p>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
            <div><h3 class="user-tags">{{this.title}}</h3>
						<h5 class="user-tags">{{this.author.username}}</h5></div>
						<ul class="forecast">	
							<li class="active">
								<a href="/story/{{this._id}}" class="underlines">Check out the story</a>
							</li>
							<li>
							<a href="/story/{{this._id}}/edit" class="underlines">Edit</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
    {{/each}}


    <div></div>
        <div class="container">
            <h1 class="stories-title">User</h1>
	<div class="row">
      {{#each users}}
		<div class="col">
			<div class="weather-card one" style="width: 18rem;">
				<div class="top"style="background-image:url('{{this.profilePicUrl}}">
          
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						
						<!--<p class="temp">
							<img class="mr-3 rounded-circle" src="{{author.profilePicUrl}}" alt="Author Image" style="width: auto; max-height: 50px">-->
						</p>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
            <div><h3 class="user-tags">{{this.username}}</h3>
						<h5 class="user-tags"></h5></div>
						<ul class="forecast">	
							<li class="active">
								<a href="/story/{{this._id}}" class="underlines">Check this profile</a>
							</li>
							<li>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
    {{/each}}