<section class="user-profile">
    <!-- Profile widget -->
    <div class="bg  rounded ">
      <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head">
          <div class="d-flex flex-column">
            <img src="{{foundUser.profilePicUrl}}" alt="{{foundUser.username}}" width="130" class="rounded mb-2 img-thumbnail">
          </div>
          <div class="media-body mb-5 text-black">
            <h4 class="mt-0 mb-0">{{foundUser.username}}</h4>
          </div>
          <div>
            <form action="/profile/{{foundUser.username}}/delete" method="post">
            <button class="btn btn-outline-dark btn-sm btn-block" width="130">Delete Profile</button>
            </form>
               <a href="/profile/{{foundUser.username}}/edit" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
          </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{foundUser.userStories.length}}</h5>
            <small class="text-muted">
              <i class="fas fa-image mr-1"></i>Written
              Stories
            </small>
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{foundUser.favorites.length}}</h5>
            <small class="text-muted">
              <i class="fas fa-user mr-1"></i>Favorites
            </small>
          </li>
        </ul>
      </div>
      <div class="px-4 py-3">
        <h5 class="mb-0">About</h5>
        <div class="p-4 rounded shadow-sm bg-light">
          <p class="font-italic mb-0">{{foundUser.profileBio}}</p>
        </div>
      </div>
      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
<div class="container">
  <h5 class="mb-0">User Stories</h5>
	<div class="row">
  {{#each foundUser.userStories}}
		<div class="col">
			<div class="weather-card one" style="width: 18rem;">
				<div class="top"style="background-image:url('{{this.imgUrl}}">
          
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						
						<!--<p class="temp">
							<img class="mr-3 rounded-circle" src="{{author.profilePicUrl}}" alt="Author Image" style="width: auto; max-height: 50px">-->
						</p>
					</div>
				</div>
			<div class="bottom">
					<div class="wrapper story-card-content">
						<div class="story-card-text">
            			<h4 class="user-tags">{{this.title}}</h4>
						<div class="story-card-user">
							<img src="{{this.author.profilePicUrl}}" alt="{{this.author.username}}">
						<h6 class="user-tags">{{this.author.username}}</h6>
						</div>
						</div>
						<a href="/story/{{this._id}}" class="landing-button">Read now</a>
					</div>
				</div>
			</div>
		</div>
    {{/each}}
<div class="container">
   <h5 class="mb-0">User Favorites</h5>
	<div class="row">
    {{#each foundUser.favorites}}
		<div class="col">
			<div class="weather-card one" style="width: 18rem;">
				<div class="top"style="background-image:url('{{this.imgUrl}}">
          
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						
						<!--<p class="temp">
							<img class="mr-3 rounded-circle" src="{{author.profilePicUrl}}" alt="Author Image" style="width: auto; max-height: 50px">-->
						</p>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper story-card-content">
						<div class="story-card-text">
            			<h4 class="user-tags">{{this.title}}</h4>
						<div class="story-card-user">
							<img src="{{this.author.profilePicUrl}}" alt="{{this.author.username}}">
						<a class="clickable-profile" href="/profile/{{this.author.username}}"><h6 class="user-tags">{{this.author.username}}</h6></a>
						</div>
						</div>
						<a href="/story/{{this._id}}" class="landing-button">Read now</a>
					</div>
				</div>
			</div>
		</div>
    {{else}}
        <p>No Favorites Yet</p>
    {{/each}}
        </div>
      </div>
    </div>
</section>


