{{!-- <section class="user-profile">
    <!-- Profile widget -->
    <div class="bg  rounded ">
      <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head">
          <form action="/profile/{{currentUser.username}}/edit" method="POST" enctype="multipart/form-data">
          <div class="d-flex flex-column">

            <img src="{{currentUser.profilePicUrl}}" alt="{{currentUser.username}}" width="130" class="rounded mb-2 img-thumbnail">
            <p>New Profile Pic?</p>
            <input type="file" name="profilePicUrl" class="form-control-file" >

          </div>
          <div class="media-body mb-5 text-black">
            <h4 class="mt-0 mb-0">{{currentUser.username}}</h4>
          </div>
          <div>
            <form action="/profile/{{currentUser.username}}/delete" method="post">
            <button class="btn btn-outline-dark btn-sm btn-block" width="130">Delete Profile</button>
            </form>
            <button class="btn btn-outline-dark btn-sm btn-block"> Save Changes</button>
          </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{currentUser.userStories.length}}</h5>
            <small class="text-muted">
              <i class="fas fa-image mr-1"></i>Written
              Stories
            </small>
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{currentUser.favorites.length}}</h5>
            <small class="text-muted">
              <i class="fas fa-user mr-1"></i>Favorites
            </small>
          </li>
        </ul>
      </div>
      <div class="px-4 py-3">
        <h5 class="mb-0">About</h5>
        <div class="p-4 rounded shadow-sm bg-light">
        <input type="text" name="description" required=""  class="font-italic mb-0" value="{{currentUser.profileBio}}">
      </form>
        </div>
      </div>
      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">User Stories</h5>
          <a href="#" class="btn btn-link text-muted">Show all</a>
        </div>
        <div class="row">
        {{#each currentUser.userStories}}
        <div class="col-md-3 mb-3 mx-5">
        <div class="card" style="width: 18rem;">
            <img src="{{this.imgUrl}}" class="card-img-top" alt="{{this.title}}">
            <div class="card-body text-white">
            <h5 class="card-title fw-bold"><span>TITLE:</span> {{this.title}}</h5>
            <p class="card-text"><span>Description:</span> {{this.description}}</p>
            <p class="card-text"><span>Author:</span> {{this.author.username}}</p>
            <a href="/story/{{this._id}}" class="landing-button">Read now</a>
            <!--<a href="/stories/{{id}}/edit" class="btn btn-primary">Edit</a> -->
            </div>
        </div>
        </div>
    {{else}}
        <p>No Favorites Yet</p>
    {{/each}}
        </div>
      </div>
      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">User Favorites</h5>
          <a href="#" class="btn btn-link text-muted">Show all</a>
        </div>
        <div class="row">
       {{#each currentUser.favorites}}
        <div class="col-md-3 mb-3 mx-5">
        <div class="card" style="width: 18rem;">
            <img src="{{this.imgUrl}}" class="card-img-top" alt="{{this.title}}">
            <div class="card-body text-light">
            <h5 class="card-title"><span>TITLE:</span> {{this.title}}</h5>
            <p class="card-text"><span>Description:</span> {{this.description}}</span></p>
          <h6 class="card-text"><span>Author:</span> {{this.author.username}} </h6>
            <a href="/story/{{this._id}}"class="landing-button">Read now</a>
            <!--<a href="/stories/{{id}}/edit" class="btn btn-primary">Edit</a> -->
            </div>
        </div>
        </div>
    {{else}}
        <p>No Favorites Yet</p>
    {{/each}}
        </div>
      </div>
    </div>
</section> --}}


<section class="user-profile">
    <!-- Profile widget -->
    <div class="bg  rounded ">
      <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head">
          <form action="/profile/{{currentUser.username}}/edit" method="POST" enctype="multipart/form-data">
          <div class="d-flex flex-column">
            <img src="{{currentUser.profilePicUrl}}" alt="{{currentUser.username}}" width="130" class="rounded mb-2 img-thumbnail">
              <p>New Profile Pic?</p>
            <input type="file" name="profilePicUrl" class="form-control-file" >
          </div>
          <div class="media-body mb-5 text-black">
            <h4 class="mt-0 mb-0">{{currentUser.username}}</h4>
          </div>
          <div>
            <form action="/profile/{{currentUser.username}}/delete" method="post">
            <button class="btn btn-outline-dark btn-sm btn-block" width="130">Delete Profile</button>
            </form>
            <button class="btn btn-outline-dark btn-sm btn-block"> Save Changes</button>
          </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{currentUser.userStories.length}}</h5>
            <small class="text-muted">
              <i class="fas fa-image mr-1"></i>Written
              Stories
            </small>
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{currentUser.favorites.length}}</h5>
            <small class="text-muted">
              <i class="fas fa-user mr-1"></i>Favorites
            </small>
          </li>
        </ul>
      </div>
      <div class="px-4 py-3">
        <h5 class="mb-0">About</h5>
        <div class="p-4 rounded shadow-sm bg-light">
        <input type="text" name="description" class="font-italic mb-0" value="{{currentUser.profileBio}}">
        </div>
      </div>
      </form>
      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
</section>